In [7]:
import pandas as pd

# Load the sales data from the provided CSV file
sales_df = pd.read_csv('/content/sales_data (1).csv')

# Display the first few rows of the dataframe to verify loading
display(sales_df.head())

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

### Sales Analysis Report

Here is a summary of the sales data:

*   **Total Sales:** ${total_sales:,.2f}
*   **Best Selling Product:**

In [10]:
# Display the best-selling product details
display(best_selling_product)

Product_ID                     1036
Sale_Date                2023-12-10
Sales_Rep                     David
Region                        North
Sales_Amount                9989.04
Quantity_Sold                     7
Product_Category               Food
Unit_Cost                   2882.25
Unit_Price                   3163.7
Customer_Type             Returning
Discount                       0.05
Payment_Method                 Cash
Sales_Channel                Retail
Region_and_Sales_Rep    North-David
Name: 755, dtype: object

In [9]:
# Calculate total sales
total_sales = sales_df['Sales_Amount'].sum()

# Find the best-selling product
best_selling_product = sales_df.loc[sales_df['Sales_Amount'].idxmax()]

print(f"Total Sales: ${total_sales:,.2f}")
print("\nBest Selling Product:")
display(best_selling_product)

Total Sales: $5,019,265.23

Best Selling Product:

Product_ID                     1036
Sale_Date                2023-12-10
Sales_Rep                     David
Region                        North
Sales_Amount                9989.04
Quantity_Sold                     7
Product_Category               Food
Unit_Cost                   2882.25
Unit_Price                   3163.7
Customer_Type             Returning
Discount                       0.05
Payment_Method                 Cash
Sales_Channel                Retail
Region_and_Sales_Rep    North-David
Name: 755, dtype: object